<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    <ul>
        <% files.forEach(function(file) { %>
            <li>
                <a href="/user/files/download/<%= file %>"><%= file %></a>
                <img src="/<%= file %>" height="100" width="100"/>
            </li>
        <% }); %>
    </ul>
</body>
</html>
